<!DOCTYPE html>
<html>
  {{> head}}
  <body>
	{{> nav}}
	<div class="row">
		{{#compare map true operator='=='}}
			{{>olCentre}}
		{{/compare}}
		<div class="conteneur col-md-8"> 
			{{{body}}}
		</div>
	</div>
	{{>endBootstrap}}
  </body>
</html>
